<button (click)="submit()" mat-raised-button flex="33" type="submit">
    Submit
</button>

  <div cdkDropListGroup cdkDropListGroupOrientation="horizontal">
    <div class="example-container">
        <h2>Great Drinks</h2>
        <div
          cdkDropList
          [cdkDropListData]="greatDrinks"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let greatDrink of greatDrinks" cdkDrag>
                <img src="{{greatDrink.drink_image_url}}" alt="{{greatDrink.drink_name}}">
                <br>
              {{greatDrink.drink_name}}
            </div>
        </div>
    </div>

    <div class="example-container">
      <h2>Random Drinks</h2>
      <div
        cdkDropList
        [cdkDropListData]="randomDrinks"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let randomDrink of randomDrinks" cdkDrag>
            <img src="{{randomDrink.drink_image_url}}" alt="{{randomDrink.drink_name}}">
            <br>
            {{randomDrink.drink_name}}
        </div>
      </div>
    </div>

    <div class="example-container">
        <h2>Gross Drinks</h2>
        <div
          cdkDropList
          [cdkDropListData]="grossDrinks"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let grossDrink of grossDrinks" cdkDrag>
            <img src="{{grossDrink.drink_image_url}}" alt="{{grossDrink.drink_name}}">
                <br>
              {{grossDrink.drink_name}}
            </div>
        </div>
    </div>
  

  </div>