<div class="top">
<h1>Neo4j Drink Recommender</h1>
<button (click)="start()">Start</button>
<button (click)="select()">Select</button>
<button (click)="show()">Show</button>
</div>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

<!--
    <nav><a routerLink="/show" routerLinkActive="active">Config Component</a>
</nav>

<button (click)="showAll()">click me</button> -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
